.forum-card
  width: 100%
  display: flex
  flex-direction: row
  cursor: default
  @media screen and (max-width: 750px)
    flex-direction:column
    overflow: visible
  position: relative
  padding-top: 50px
  padding-bottom: 5px
  .forum-card-img
    width: 40%
    max-height:300px
    overflow:hidden
    background-size: cover
    @media screen and (max-width: 750px)
      width: 100%
    img
      width:100%

  .forum-card-data
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
    padding-left: 44px
    width: 60%
    @media screen and (max-width: 750px)
      width: 100%
      align-items: center
    @media screen and (max-width: 750px)
      padding-left: 5px
    color: #000

    .forum-card-header
      &[style]
        //takes priviledge over inline styles - removes bg from forum card on MIN width 750px
        @media screen and (min-width: 750px)
          background-image: none !important
          background-position: center
      @media screen and (max-width: 750px)
        //makes header overflow from container on mobile, leaving consult title as a banner view
        width: 105vw;
        margin: 0 -25vw;
        min-height: 100px
        display: flex
        align-items: center
        justify-content: center
        text-align: center
      .forum-card-title
        font-family: 'formata-medium', sans-serif;
        font-size: 21px
        line-height: 37px
        margin: 0
        @media screen and (max-width: 750px)
          //little tweak to make card-titles negative color from their background img color (banner view header)
          max-width: 90%
          color: white
          // filter: invert(1);
          // mix-blend-mode: difference;
      .forum-card-author
        font-size: 20px
        font-weight: 400
        &.forum-card-name
          color: #0B95D6
          margin-left: 5px
      

    .forum-card-body
      .forum-card-description
        font-family: 'Fira Sans', sans-serif;
        font-size: 17px
        font-weight: 300
        color: #595959
        @media screen and (max-width: 750px)
          margin-top: 10px

    .forum-card-footer
      .btn.btn-link
        text-decoration: none !important
        color: #fff
        background-color: $primary-color !important
        text-transform: initial
        border-radius: 15px
        padding: 10px 20px

  &:before
    content: ''
    width: 33%
    margin-left:31%
    @media screen and (max-width:600px)
      margin-left:27%
    height: 1px
    border-top: 1px solid #707070
    position: absolute
    top: 0


